<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink=''>
      <img src="../assets/lightning-fill.svg" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" routerLink=''>Ritik</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/data-binding">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/purchase">Master-Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shareData">Share-Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/globalerrorhandler">Global-Error Handler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/attributedirective">Attribute-Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rxjs">RxJS Subject</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <div class="container">
  <h1 class="text-center">{{title}}</h1>

  <div class="row">

    <div class="col-md-3">
      <button routerLink="/data-binding" class="btn btn-secondary">Data Binding</button>
    </div>
    <div class='col-md-3'>
      <button routerLink="/products" class="btn btn-secondary">Structural Directive</button>
    </div>
    <div class='col-md-3'>
      <button routerLink="/purchase" class="btn btn-secondary">Master Details</button>
    </div>
    <div class='col-md-3'>
      <button routerLink="/shareData" class="btn btn-secondary">Share Data</button>
    </div>
    <br><br>
    <div class="col-md-3">
      <button routerLink="/attributedirective" class="btn btn-secondary">Attribute Directive</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<!-- <div class="container">
  <h1 class = "text-center">{{title}}</h1>

  <div class = "row">
    
    <div class = "col-md-3">
      <button (click)='showDataBinding()' class="btn btn-secondary">Data Binding Demo</button>
    </div>
    <div class = 'col-md-3'>
      <button (click)='showStructuralDirective()' class="btn btn-secondary">Structural Directive Demo</button>
    </div>
    <div class = 'col-md-3'>
      <button (click)='showMasterDetails()' class="btn btn-secondary">Master Details</button>
    </div>
  </div>
  <div class = "row">
      <div class="col-md-12">
        <app-t-shirt-demo *ngIf = "showDataBindingDemo" ></app-t-shirt-demo>
        <app-products *ngIf = "showStructuralDirectiveDemo" ></app-products>
        <app-purchase *ngIf = "showMasterDetailsDemo" ></app-purchase>
    </div>
  </div>
</div> -->