<div class="container">
  <h1 class = "text-center">{{title}}</h1>

  <div class = "row">
    
    <div class = "col-md-3">
      <button routerLink="/data-binding" class="btn btn-secondary">Data Binding Demo</button>
    </div>
    <div class = 'col-md-3'>
      <button routerLink="/products" class="btn btn-secondary">Structural Directive Demo</button>
    </div>
    <div class = 'col-md-3'>
      <button routerLink="/purchase"  class="btn btn-secondary">Master Details</button>
    </div>
  </div>
  <div class = "row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <div class="container">
  <h1 class = "text-center">{{title}}</h1>

  <div class = "row">
    
    <div class = "col-md-3">
      <button (click)='showDataBinding()' class="btn btn-secondary">Data Binding Demo</button>
    </div>
    <div class = 'col-md-3'>
      <button (click)='showStructuralDirective()' class="btn btn-secondary">Structural Directive Demo</button>
    </div>
    <div class = 'col-md-3'>
      <button (click)='showMasterDetails()' class="btn btn-secondary">Master Details</button>
    </div>
  </div>
  <div class = "row">
      <div class="col-md-12">
        <app-t-shirt-demo *ngIf = "showDataBindingDemo" ></app-t-shirt-demo>
        <app-products *ngIf = "showStructuralDirectiveDemo" ></app-products>
        <app-purchase *ngIf = "showMasterDetailsDemo" ></app-purchase>
    </div>
  </div>
</div> -->