<div class="container">
    <br>
    <div class="row">
        <h2>Async Subject Observable</h2>     
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="subscribe1()">Subsciber 1</button><br>
            <br>
            <strong>
                <div *ngFor="let p of observer1" style="color:orangered">
                    <p class="data1"> {{p}}</p>
            </div>
            <div *ngIf="showObserver1" style="color: dodgerblue;">
                Complete
            </div>
            </strong>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="subscribe2()">Subsciber 2</button><br>
            <br>
            <strong>
                <div *ngFor="let p of observer2" style="color:orangered">
                    <p class="data1"> {{p}}</p>
            </div>
            <div *ngIf="showObserver2" style="color: dodgerblue;">
                Complete
            </div>
            </strong>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" (click)="subscribe3()">Subsciber 3</button><br>
            <br>
            <strong>
                <div *ngFor="let p of observer3" style="color:orangered">
                    <p class="data1"> {{p}}</p>
            </div>
            <div *ngIf="showObserver3" style="color: dodgerblue;">
                Complete
            </div>
            </strong>
        </div>
    </div>
</div>