<br><br>
<div class=" row">
    <div class="col-md-4">
        <h2 class="text-center">Component File</h2>
        <img src='..\assets\classfile.png'>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Service File</h2>
        <img src='..\assets\servicefile.png'>
    </div>
</div>
<br><br>
<div class="class">
    <button class="btn btn-danger" (click)="generateError()">Generate Error</button>Press F12
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <footer>
            <p>In this demo we are handling global error by
                making a service of which implement ErrorHandler
                class and we provider for that token in module.ts.</p>
        </footer>
    </div>
</div>