<hr>
<h1>My Angular Learnings</h1>
<br>
<div class="row">
    <img src="..\assets\ngicon.png" width="25%" height="25%">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br>
        <strong>1. </strong> <label routerLink="/data-binding"> Binding </label>
        <br><br>
        <strong>2. </strong>  <label routerLink="/products"> Structural Directive </label>
        <br><br>
        <strong>3. </strong> <label routerLink="/purchase"> Component Communication </label>
        <br><br>
        <strong>4. </strong> <label routerLink="/shareData"> Share Data b/w unrelated Components with Service </label>
        <br><br>
        <strong>5. </strong> <label routerLink="/globalerrorhandler"> Global Error Handler </label>
        <br><br>
        <strong>6. </strong> <label routerLink="/attributedirective"> Attribute Directive </label>
        <br><br>
        <strong>7. </strong> <label routerLink="/login"> LogIn </label>
    </div>
</div>