<hr>
<h1>My Angular Learnings :)</h1>
<br>
<div class="row">
    <img src="..\assets\ngicon.png" width="25%">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br>
        <strong>1. </strong> Data Binding
        <br><br>
        <strong>2. </strong> Structural Directive
        <br><br>
        <strong>3. </strong> Component Communication
        <br><br>
        <strong>4. </strong> Share Data b/w unrelated Components with Service
        <br><br>
        <strong>5. </strong> Global Error Handler
        <br><br>
        <strong>6. </strong> Attribute Directive
    </div>
</div>