<h1>Component 1</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form" [formGroup]="updateForm" (ngSubmit)="setData()">
                <label class="form-check-label">Id</label>
                <input type="number" formControlName="Id" class="form-control" placeholder="Enter ID">
                <div class="alert alert-danger"
                    *ngIf="updateForm?.get('Id')?.hasError('required') && updateForm?.get('Id')?.touched">
                    Id is required
                </div>
                <br>

                <label>Name</label>
                <input type="text" formControlName="Name" class="form-control" placeholder="Enter Name">
                <div class="alert alert-danger"
                    *ngIf="updateForm?.get('Name')?.hasError('required') && updateForm?.get('Name')?.touched">
                    Name is required
                </div>
                <br>

                <label>Price</label>
                <input type="number" formControlName="Price" class="form-control" placeholder="Enter Price">
                <div class="alert alert-danger"
                    *ngIf="updateForm?.get('Price')?.dirty && updateForm?.get('Price')?.errors && updateForm?.get('Price')?.errors?.priceRange">
                    Price must be between {{minPrice}} to {{maxPrice}}
                </div>
                <br>

                <label>Expiry Date (mm-dd-yyyy)</label>
                <input type="text" class="form-control" formControlName="ExpiryDate"
                    placeholder="Enter Expiry Date(mm-dd-yyyy)">
                <div class="alert alert-danger"
                    *ngIf="updateForm?.get('ExpiryDate')?.hasError('required') && updateForm?.get('ExpiryDate')?.touched">
                    ExpiryDate is required
                </div>
                <br>

                <label>Quantity</label>
                <input type="number" formControlName="Quantity" class="form-control" placeholder="Enter Quantity">
                <div class="alert alert-danger"
                    *ngIf="updateForm?.get('Quantity')?.hasError('required') && updateForm?.get('Quantity')?.touched">
                    Quantity is required
                </div>
                <br>

                <label>Is-in-Stock</label><br>
                <input type="radio" [value]="true" formControlName='isInstock'>
                <label class="radio-inline">True</label>
                <br>
                <input type="radio" [value]="false" formControlName='isInstock'>
                <label class="radio-inline">False</label>
                <br>

                <button type="submit" [disabled]="updateForm.invalid" class="btn btn-primary">Update</button><br>
                <button type="reset" class="btn btn-danger">Reset</button>
            </form>
            <!-- <input type="number" [(ngModel)]='data' class="form-control">
        <button class='btn btn-secondary' (click)='setData()'>Set Price</button> -->
        </div>
    </div>
</div>