<div class="container">
    <br><br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/subject">Subject </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/behavioursubject">BehaviorSubject</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/replaysubject">ReplaySubject</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/asyncsubject">AsyncSubject</a>
        </li>
    </ul>
</div>