<div class=container>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <h1>Reactive Form By Angular</h1><br>
            <div class="row">
                <div class="col-md-1"></div>
                <form class="form-group" [formGroup]='loginForm' (ngSubmit)='login()'>

                    <label>Email address</label>
                    <input formControlName="email" type="email" class="form-control" placeholder="Enter email">
                    <div class="alert alert-danger"
                        *ngIf="loginForm?.get('email')?.hasError('required') && loginForm?.get('email')?.touched">
                        Email is required
                    </div>
                    <br>

                    <label>Password</label>
                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                    <div class="alert alert-danger"
                        *ngIf="!loginForm?.get('password')?.valid && loginForm?.get('password')?.touched">
                        Password is required and minimum length is 5 characters
                    </div>
                    <br>

                    <label>Age</label>
                    <input formControlName="age" type="number" class="form-control" placeholder="Age">
                    <div class="alert alert-danger"
                        *ngIf="loginForm?.get('age')?.dirty && loginForm?.get('age')?.errors && loginForm?.get('age')?.errors?.ageRange">
                        Age must be b/w {{minAge}} to {{maxAge}}
                    </div>
                    <br>

                    <label>Phone Number</label>
                    <input formControlName="phonenumber" type="number" class="form-control" placeholder="Phone Number">
                    <div class="alert alert-danger"
                        *ngIf="loginForm?.get('phonenumber')?.hasError('required') && loginForm?.get('phonenumber')?.touched">
                        Phone Number is required
                    </div>
                    <br>

                    <label>Notification</label><br>
                    <label class="radio-inline">Email</label>
                    <input type="radio" value="email" formControlName='notification'>
                    <br>
                    <label class="radio-inline">Phone</label>
                    <input type="radio" value="phone" formControlName='notification'>

                    <br><br>
                    <button type="submit" [disabled]='loginForm.invalid' class="btn btn-primary">Submit</button>
                    <button type="button" (click)='reset()' class="btn btn-danger">Reset</button>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <h1>Template Driven Form</h1><br>
            <div class="row">
                <div class="col-md-1"></div>
                <form novalidate (ngSubmit)="login()" #f="ngForm">

                    <label>Email address</label><br>
                    <input type="text" id="email" name="email" placeholder="Enter email">
                    <br><br>

                    <label>Password</label><br>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <br><br>

                    <label>Age </label><br>
                    <input type="number" id="age" name="age" placeholder="Age">
                    <br><br>

                    <label>Phone number </label><br>
                    <input type="number" id="phonenumber" name="Phone" placeholder="Phone Number">
                    <br><br>

                    <label>Notification</label><br>
                    Email<input type="radio" value="male" id="gender" name="gender" checked='true'><br>
                    Phone<input type="radio" value="female" id="gender" name="gender"><br><br>

                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </form>
            </div>
        </div>
    </div>