<div class="container">
    <h1>Share Data between 2 unrelated components with a Service </h1>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <app-comp1></app-comp1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <app-comp2></app-comp2>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <footer>
            <p>In this demo we are passing data from one Component to other using Angular Service. For this we are
                asking price in one Component and set this value in other Componenttable and display result.</p>
        </footer>
    </div>
</div>