<div>
    <h1>{{productdetails.Purchase_Name}}</h1>
    <p><strong>VendorName:</strong> {{productdetails.VendorName}} | <strong>Date :</strong> {{productdetails.Purchase_Date | date}}</p>
    <div class="text-center">
        <table class="table">
            <thead  class="table-info">
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let i of productdetails.Items">
                    <td>{{i.Name}}</td>
                    <td><input id="pricetag" type="number" [(ngModel)]='i.Price' class="hidden-input" (keyup)="calculatePrice()" min="0" class="form-control"></td>
                    <td><input id="quantitytag" type="number" [(ngModel)]='i.Quantity' class="hidden-input" (keyup)="calculatePrice()" min="0" class="form-control"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">Total Cost: {{price | currency}} <a class="btn pull-right btn-danger" href="#" role="button" (click) = "sendProductData()">Place Order</a></div>
</div>