<h1>Component 2</h1>
<hr>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Expiry Date</th>
                <th>Quantity</th>
                <th>In-Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{p.Id}}</td>
                <td>{{p.Name}}</td>
                <td>{{p.Price | currency : "INR"}}</td>
                <td>{{p.ExpiryDate | date}}</td>
                <td>{{p.Quantity}}</td>
                <td>
                    <ng-container *ngIf="p.isInstock; then instock else outofstock">
                    </ng-container>

                    <ng-template #instock>
                        <i class="fas fa-check-circle"></i>
                    </ng-template>

                    <ng-template #outofstock>
                        <i class="fas fa-times-circle"></i>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>